name: CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    strategy:
        fail-fast: false
        matrix:
          os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable

      - name: Cache cargo registry + target
        uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true

      - name: Cargo check
        run: cargo check

      - name: Build debug
        run: cargo build

      - name: Build release
        run: cargo build --release
